name: CI/CD for gamehub-automated-app

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/gamehub:latest

  deploy:
  needs: build
  runs-on: [self-hosted, windows, x64]

  steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Ensure Minikube is running
      run: |
        minikube status || minikube start --driver=docker

    - name: Set kubectl context to minikube
      run: kubectl config use-context minikube

    - name: Pull Docker Image from Docker Hub
      run: docker pull ${{ secrets.DOCKER_USERNAME }}/gamehub:latest

    - name: Deploy to Minikube using k8s.yml
      run: |
        kubectl apply -f k8s/k8s.yml
        kubectl get pods

    - name: Wait for pods to start
      run: Start-Sleep -Seconds 120
      shell: pwsh

    - name: List services
      run: kubectl get svc

    - name: Get Minikube Service URL
      run: minikube service gamehub-service --url
